body {
  background-image: url("https://www.transparenttextures.com/patterns/green-fibers.png");
}

.container {
  font-family: "Varela Round", sans-serif;
  padding: 2rem 0;
}

h1 i {
  font-size: 1em; /* Adjust icon size */
  color: #ffd700; /* Gold color for the icon */
}

.card {
  position: relative;
  background-color: #008c41;
  background-image: url("https://www.transparenttextures.com/patterns/football-no-lines.png");
  background-repeat: repeat;
}

#countdown {
  font-size: clamp(3rem, 4vw, 6rem);
  font-family: monospace;
  padding: 0.8rem;
  background: linear-gradient(45deg, #c5a028, #ffd700, #cfb53b);
  background-clip: text;
  color: transparent;
  transform: perspective(1000px) rotateX(10deg);
  transition: transform 0.3s ease;
}

nav a {
  color: #0d2b46;
  border-radius: 15px;
  padding: 8px 12px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: rgba(76, 175, 80, 0.2);
  color: #fff;
}

footer {
  padding: 10px;
  width: 100%;
}

footer a {
  text-decoration: none;
  color: navy;
}

footer a:hover {
  text-decoration: underline;
}
